<div class="main-section">
    <div class="page-content-2">Редагування товару</div>
      <div class="product">
        <h6 class="main">Інформація про товар</h6>
         {{#with data}}
          <form method="POST" action="/product-edit">
           <div class="info-2">
             <div class="content">
               <label for="name" class="form-label">Назва товару</label>
               <input type="text" name="name" class="content-input" value="{{name}}">
             </div>
             <div class="content">
               <label for="price" class="form-label">ціна</label>
               <input type="number" name="price" class="content-input" value="{{price}}">
             </div>
             <div class="content">
               <label for="id" class="form-label">ID</label>
               <input type="number" name="id" class="content-input" value="{{id}}">
             </div>
           </div>
           <div class="content-field">
             <label for="description" class="form-label">Короткий опис товару</label>
             <textarea id="description" name="description" class="field" rows="3">{{description}}</textarea>
             <div class="display">Відображається у картці товару</div>
           </div>
           <div class="delete">
             <button class="content-product">Зберегти оновлення</button>
             <a href="/product-delete?id={{id}}" class="content-delete" >Видалити товар</a>
           </div>
          </form>
         {{/with}}
      </div>
    </div>
</div>